.menu{
  height: 100px;
  width: 500px;
  background-color: rgb(87, 88, 83);
}
table {
  margin-right: auto;
  margin-left: auto;
}
th {
  color: aquamarine;
  padding-bottom: 20px;
  font-size: 1.5rem;
}