<header>
<h1 class="title">Jweets</h1>
<ul>
  <li><%= link_to 'new Jweet', new_jweet_path %></li>
  <li><a href="#">account</a></li>
  <li><a href="#">setting</a></li>
</ul>
</header>
<h2>New Jweet!</h2>
<%= render 'form' %>
<footer>
  <p>Jweets! by TonbiNeko.</p>
</footer>